fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]
python-multipart
openai
PyPDF2
python-magic
aiofiles
jinja2
pydantic[email]
pydantic-settings
crewai